<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tao moi bai hat</title>
</head>
<body>
<form action="/baiHat/create" method="post" th:object="${baiHatDTO}">
  <div class="input-group">
    <label for="ten">Ten bai hat :</label>
    <input type="text"
           class="form-control" name="" id="ten" aria-describedby="helpId" placeholder="" th:field="*{tenBaiHat}">
    <span th:if="${#fields.hasErrors()}" th:errors="*{tenBaiHat}"></span>
  </div>
  <div class="input-group">
    <label for="ngheSi">Ten nghe si :</label>
    <input type="text"
           class="form-control" name="" id="ngheSi" aria-describedby="helpId" placeholder="" th:field="*{ngheSi}">
    <span th:if="${#fields.hasErrors()}" th:errors="*{ngheSi}"></span>
  </div>
  <div class="input-group">
    <label for="theLoai">The loai :</label>
    <input type="text"
           class="form-control" name="" id="theLoai" aria-describedby="helpId" placeholder="" th:field="*{theLoai}">
    <span th:if="${#fields.hasErrors()}" th:errors="*{theLoai}"></span>
  </div>
  <button type="submit">Save</button>
</form>
</body>
</html>