<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<form action="/updateBlog" method="post" th:object="${blog}">
    <div class="input-group">
        <label for="id"></label>
        <input type="hidden"
               class="form-control" name="" id="id" aria-describedby="helpId" placeholder="" th:field="*{id}">
    </div>
    <div class="input-group">
        <label for="title"></label>
        <input type="text"
               class="form-control" name="" id="title" aria-describedby="helpId" placeholder="" th:field="*{title}">
    </div>
    <div class="input-group">
        <label for="content"></label>
        <input type="text"
               class="form-control" name="" id="content" aria-describedby="helpId" placeholder="" th:field="*{content}">
    </div>
    <div class="input-group">
        <label for="author"></label>
        <input type="text"
               class="form-control" name="" id="author" aria-describedby="helpId" placeholder="" th:field="*{author}">
    </div>
</form>
</body>
</html>