<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List sach</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body class="container">
<table class="table" border="1">
    <thead>
    <tr>
        <th>Ten sach</th>
        <th>So luong</th>
        <th>Muon</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book,inerStat :${bookList}">
        <td scope="row" th:text="${book.name}"></td>
        <td th:text="${book.quantity}"></td>
        <td><a th:href="@{/books/{id}/borrow(id=${book.id})}">Borrow</a></td>
        <td><a th:href="@{/books/{id}/pay(id=${book.id})}">Pay</a></td>
    </tr>
    </tbody>
</table>


</body>
</html>
